<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }
    </style>
</head>

<body ng-app='app'>
    <div ng-controller="four">
        <label>省</label>
        <select ng-model='onlyProvince' ng-options="label.name for label in province" ng-change="change(onlyProvince)">
            <option value="">请选择</option>
        </select>
        <label ng-show="city.length" class='ng-hide'>市</label>
        <select ng-show="city.length" class='ng-hide' ng-model='onlyCity' ng-options="label.name for label in city" ng-change="change(onlyCity)">
            <option value="">请选择</option>
        </select>
        <label ng-show="district.length" class='ng-hide'>区</label>
        <select ng-show="district.length" class='ng-hide' ng-model='onlyDistrict' ng-options="label.name for label in district" ng-change="change(onlyDistrict)">
            <option value="">请选择</option>
        </select>
    </div>
    <script type="text/javascript" src="dist/index.js"></script>
</body>

</html>